<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="ProcessLogs" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\\" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyy-MM-dd'_multproc.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <maxSizeRollBackups value="100" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <!--指定log的格式-->
      <conversionPattern value="[%date]  %thread -- %-5level -- %logger [%M]%newline%line%newline%message%exception%newline" />
    </layout>
    <Encoding value="UTF-8" />
    <param name="maximumFileSize" value="1024KB" />
  </appender>
  <logger name="MultiProc.PipelineServer">
    <!--<level value="DEBUG" />-->
    <level value="ERROR" />
    <appender-ref ref="ProcessLogs" />
  </logger>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="ProcessLogs" />
  </root>
</log4net>
